<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criminal Psychology Analysis</title>
</head>

<body>

    <form action="/" method="post">
        <label for="name">Enter Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="gender">Enter gender:</label><br>
        <input type="text" id="gender" name="gender"><br>
        <label for="age">Enter Age:</label><br>
        <input type="text" id="age" name="age"><br>
        <label for="profession">Enter profession:</label><br>
        <input type="text" id="profession" name="profession"><br>
        <label for="review">Enter review:</label><br>
        <textarea name="review" id="review" cols="30" rows="10"></textarea><br><br>
        <select id="movies" name="movies" placeholder="Select a movie">   
            <option value = "thupakki"> Thupakki   
            </option>  
            <option value = "singam"> Singam   
            </option>  
            <option value = "diehard"> Die Hard  
            </option>  
            <option value = "oceans8"> Ocean's 8  
            </option>  
            </select>
        <input type="submit" value="Submit">
    </form>

    {{emotion}}

</body>

</html>